<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title">{{categoria.ID > 0 && 'Editar categor&iacute;a' || 'Agregar categor&iacute;a'}} [ID: {{categoria.ID}}]</h3>
</div>
<div class="modal-body">
    <form name="categoria_form" class="form-horizontal" role="form" novalidate>
        <form-element label="NOMBRE" mod="categoria">
            <input type="text" class="form-control" name="nombre" placeholder="NOMBRE" ng-model="categoria.nombre" ng-disabled="categoria.ID" focus/>
        </form-element>
        <form-element label="ESTADO" mod="categoria">
            <select name="estado" class="form-control" ng-model="categoria.estado">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
            <!--<input type="text" name="estado" class="form-control" placeholder="ESTADO" ng-model="categoria.estado"/>-->
            <small class="errorMessage" ng-show="categoria_form.estado.$dirty && categoria_form.estado.$invalid"> Seleccione el estado.</small>
        </form-element>

        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <button class="btn btn-sm btn-danger" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</button>
                    <button ng-click="saveCategory(categoria);"
                            ng-disabled="categoria_form.$invalid || enableUpdate"
                            class="btn btn-sm btn-primary"
                            type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>

