<h4 class="blog-post-title">Categor&iacute;as</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus " ng-click="open(categoria);"><span class="text-button">&nbsp;Nueva categor&iacute;a</span></button>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">Listado de categor&iacute;as
            <div class="sw-search" >
                <div class="nav-search" id="nav-search">
                    Buscar: <span class="input-icon">
                        <input placeholder="Ingrese una categor&iacute;a" class="nav-search-input" ng-model="filterCategoria" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr ng-show="categorias.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No hay categor&iacute;as para mostrar</td></tr>
                <tr ng-hide="categorias.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Cargando</td></tr>

                <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

                <tr ng-repeat="c in categorias | filter:filterCategoria" id="{{c.id}}" animate-on-change='c.nombre' ng-animate=" 'animate'">
                    <td>{{c.ID}}</td><td>{{c.nombre}}</td>
                    <td>
                        <button class="btn" ng-class="{1:'btn-success', 0:''}[c.estado]" ng-click="changeCategoryStatus(c);">{{c.estado==1 && 'Activo' || 'Inactivo'}}</button>
                    </td>
                    <td style="width:100px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
                            <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteCategory(c);"></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>