<h4 class="blog-post-title">Productos</h4>
<hr/>
<button type="button" class="btn btn-danger fa fa-plus " ng-click="open(producto);"><span class="text-button">&nbsp;Nuevo producto</span></button>
<div class="table-responsive">
    <div class="panel panel-primary">
        <div class="panel-heading">Listado de obsequios
            <div class="sw-search" >
                <div class="nav-search" id="nav-search">
                    Buscar: <span class="input-icon">
                        <input placeholder="Ingrese un producto" class="nav-search-input" ng-model="filterProduct" ng-change="resetLimit();"  autocomplete="off" type="text" style="width:300px;" focus>
                        <i class="search-icon fa fa-search nav-search-icon"></i>
                    </span>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <table class="table table-striped">
                <tr ng-show="productos.length==0"><td style="vertical-align:middle;"><i class="fa fa-ban fa-3x"></i>&nbsp;No hay obsequios para mostrar</td></tr>
                <tr ng-hide="productos.length>-1"><td style="vertical-align:middle;"><i class="fa fa-cog fa-3x fa-spin"></i>&nbsp;Cargando</td></tr>

                <tr><th ng-repeat="c in columns">{{c.text}}</th></tr>

                <tr ng-repeat="c in productos | filter:filterProduct" id="{{c.id}}" animate-on-change='c.nombre + c.costo + c.descripcion + c.categoria_id' ng-animate=" 'animate'">
                    <td>{{c.ID}}</td><td>{{c.nombre}}</td><td>{{c.costo |currency:'$':0}}</td><td>{{c.descripcion}}</td><td>{{c.categoria_id}}</td>
                    <td>
                        <button class="btn" ng-class="{1:'btn-success', 0:''}[c.estado]" ng-click="changeProductStatus(c);">{{c.estado==1 && 'Activo' || 'Inactivo'}}</button>
                    </td>
                    <td style="width:100px">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default fa fa-edit" ng-click="open(c);"></button>
                            <button type="button" class="btn btn-danger fa fa-trash-o" ng-click="deleteProduct(c);"></button>
                        </div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>