<hgroup>
    <h1>Prueba Takum FrontEnd</h1>
    <h3>Por Yeison Restrepo</h3>
</hgroup>
<form name="loginForm" class="form-horizontal" role="form">
    <div class="group">
        <input type="email" name="email" ng-model="login.correo" required focus><span class="highlight"></span><span class="bar"></span>
        <label>Correo electr&#243;nico</label>
    </div>
    <div class="group">
        <input type="password" name="password" ng-model="login.password" required><span class="highlight"></span><span class="bar"></span>
        <label>Contrase&ntilde;a</label>
    </div>
    <button type="button" class="button buttonBlue" ng-click="doLogin(login)">Iniciar Sesion
        <div class="ripples buttonRipples"><span class="ripplesCircle"></span></div>
    </button>
</form>