<button type="button" class="close" ng-click="cancel();">
    <i class="fa fa-times-circle-o" style="margin:10px;color:blue;"></i>
</button>
<div class="modal-header">
    <h3 class="modal-title">{{producto.ID > 0 && 'Editar Obsequio' || 'Agregar Obsequio'}} [ID: {{producto.ID}}]</h3>
</div>
<div class="modal-body">
    <form name="producto_form" class="form-horizontal" role="form" novalidate>
        <form-element label="NOMBRE" mod="producto">
            <input type="text" class="form-control" name="nombre" placeholder="NOMBRE" ng-model="producto.nombre" ng-disabled="producto.ID" focus/>
        </form-element>
        <form-element label="DESCRIPCION" mod="producto">
            <textarea class="form-control" name="descripcion" placeholder="DESCRIPCION" ng-model="producto.descripcion">{{producto.descripcion}}</textarea>
        </form-element>
        <form-element label="PRECIO" mod="producto">
            <input type="text" name="costo" class="form-control" placeholder="PRECIO" ng-model="producto.costo"  only-numbers/>
            <small class="errorMessage" ng-show="producto_form.costo.$dirty && producto_form.costo.$invalid"> Ingrese el precio.</small>
        </form-element>
        <form-element label="CATEGORIA" mod="producto">
            <select name="categoria_id" class="form-control" ng-model="producto.categoria_id">
                <option ng-repeat="c in categorias" value="{{c.ID}}" ng-selected="c.nombre == producto.categoria_id">{{c.nombre}}</option>
            </select>
            <small class="errorMessage" ng-show="producto_form.categoria_id.$dirty && producto_form.categoria_id.$invalid"> Seleccione la categoria.</small>
        </form-element>

        <form-element label="ESTADO" mod="producto">
            <select name="estado" class="form-control" ng-model="producto.estado">
                <option value="1">Activo</option>
                <option value="0">Inactivo</option>
            </select>
            <!--<input type="text" name="estado" class="form-control" placeholder="ESTADO" ng-model="producto.estado"/>-->
            <small class="errorMessage" ng-show="producto_form.estado.$dirty && producto_form.estado.$invalid"> Seleccione el estado.</small>
        </form-element>

        <div class="space"></div>
        <div class="space-4"></div>
        <div class="modal-footer">
            <form-element label="">
                <div class="text-right">
                    <button class="btn btn-sm btn-danger" ng-click="cancel()"><i class="ace-icon fa fa-reply"></i>Cancel</button>
                    <button ng-click="saveProduct(producto);"
                            ng-disabled="producto_form.$invalid || enableUpdate"
                            class="btn btn-sm btn-primary"
                            type="submit">
                        <i class="ace-icon fa fa-check"></i>{{buttonText}}
                    </button>
                </div>
            </form-element>
        </div>
    </form>
</div>

